.searchBar {
  display: flex;
  align-items: center;
}

/* Visible to screen readers only */
.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* These will still apply in disabled state */
.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.selected {
  border: blue 1px solid;
}
