.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 2.25rem;
  height: 100%;
  border-radius: 0.25rem;
}

.active {
  outline: 2px solid #597cac;
  outline-offset: 1px;
}

.buttonContainer,
.selectContainer,
.inputContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.inputContainer {
  position: relative;
}

.clearInput {
  position: absolute;
  right: 0.1rem;
  border: none;
  background-color: transparent;
  color: #c7d1db;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.4rem 0.4rem 0.41rem;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}

.clearInput:hover {
  background-color: rgba(166, 197, 226, 0.160784);
}

.clearInput:focus-visible {
  outline: 2px solid #597cac;
}

.closeIcon {
  width: 1rem;
  height: 1rem;
}

.option {
  padding: 1rem;
}

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1d2125;
  border: none;
  color: #c7d1db;
  height: 100%;
  padding: 0 0.75rem;
  font-size: 1rem;
  min-width: 20rem;
  z-index: 0;
}

.searchInput:focus {
  outline: none;
  caret-color: #c7d1db;
}

.searchInput::placeholder {
  color: #8696a7;
}

/* Visible to screen readers only */
.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(161, 189, 217, 0.0784314);
  color: #c7d1db;
  border: none;
  margin: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0 0.5rem;
  z-index: 1;
}

/* These will still apply in disabled state */
.button:hover {
  cursor: pointer;
  background-color: rgba(166, 197, 226, 0.160784);
}

.button:active {
  background-color: rgba(191, 219, 248, 0.278431);
}

.button:focus {
  outline: 2px solid #597cac;
}

.button:disabled {
  cursor: not-allowed;
}

.searchIcon {
  width: 1.5rem;
}

.hide {
  display: none;
}
