.container {
  display: flex;
  align-items: center;
  max-height: 2rem;
  height: 100%;
}

.buttonContainer,
.selectContainer,
.inputContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.select {
  height: 100%;
  background: #1d2125;
  border: none;
  color: #c7d1db;
}

.option {
  padding: 1rem;
}

.searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #1d2125;
  border: none;
  color: #c7d1db;
  height: 100%;
  padding: 0;
  font-size: 1rem;
}

.searchInput:focus {
  border: 2px solid #597cac;
  outline: none;
  caret-color: #c7d1db;
}

.searchInput::placeholder {
  color: #8696a7;
}

/* Visible to screen readers only */
.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(161, 189, 217, 0.0784314);
  color: #c7d1db;
  border: none;
  margin: 0;
}

/* These will still apply in disabled state */
.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}
