.header {
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #27272e;
}

.headerTitle {
  margin: 0;
  padding: 0;
}

.sidebarButton {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0.25rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburgerIcon {
  width: 1.75rem;
  height: 2rem;
  cursor: pointer;
}

.sidebarButton:hover {
  background-color: #35353e;
}
