.header {
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background-color: #27272e;
}

.headerTitle {
  margin: 0;
  padding: 0;
}
