.sidebar {
  width: 16rem;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #16161a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateX(-100%);
  transition: 200ms ease;
  z-index: 2;
  padding: 0.875rem 0.5rem;
}

.sidebarActive {
  transform: translateX(0%);
}

.sidebarButton {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0.25rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.hamburgerIcon {
  width: 1.75rem;
  height: 2rem;
  cursor: pointer;
}

.sidebarButton:hover {
  background-color: #35353e;
}
