.seekForward {
  right: calc(10%);
}

.seekBackward {
  left: calc(10%);
}

.container {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 7rem;
  width: 7rem;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 3rem);
}

.innerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  margin: 0 -0.05rem;
  line-height: 0;
  animation: infinite 900ms ease fade-in-out;
  animation-delay: 1000ms;
}

.iconBackward {
  transform: rotate(180deg);
}

.iconStart {
  animation-delay: 100ms;
}

.iconMiddle {
  animation-delay: 300ms;
  opacity: 0.1;
}

.iconEnd {
  animation-delay: 500ms;
  opacity: 0.1;
}

.iconContainer {
  display: flex;
  padding-bottom: 0.5rem;
}

.iconsReverse {
  flex-direction: row-reverse;
}

.seekText {
  font-size: 0.7rem;
  font-weight: 500;
}

@keyframes fade-in-out {
  0% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
