.outerContainer {
  width: 100%;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.innerContainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.videoTitle {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.channelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelThumbnail {
  border-radius: 100%;
  border: 2px solid var(--text-color-light);
  margin-right: 1rem;
}

.channelName {
  font-weight: bold;
  margin-right: 2rem;
}

.subscribeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  background: rgba(161, 189, 217, 0.0784314);
  border-radius: 3px;
  color: #c7d1db;
  border: none;
  margin: 0;
  line-height: 2rem;
  cursor: pointer;
  font-family: var(--primary-font);
}

.twitchLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 71, 255);
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  padding: 0.5rem;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: 0;
  gap: 0.2rem;
}

.metricsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #949a9f;
}

.newTabIcon {
  width: 18px;
}
