.menu {
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  width: 16rem;
  padding: 0.25rem;
}

.primaryMenu {
  position: absolute;
  bottom: 52px;
  right: -40px;
}

.subMenu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.menuButton {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 0.7rem;
  width: 100%;
  text-align: left;
  border-radius: 0.25rem;
}

.menuButton:hover {
  background-color: rgb(69, 69, 69);
}

.menuButton:focus-visible {
  outline: 2px solid white;
  outline-offset: -3px;
}

.hideButton {
  display: none;
}
