.controlsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.leftControls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.duration {
  color: white;
  font-size: 0.85rem;
  text-align: left;
  margin-right: 0.1rem;
  margin-left: 0.75rem;
  width: 38px;
  padding-top: 0.1rem;
}

.durationMedium {
  width: 42px;
}

.durationLarge {
  width: 56px;
}

.icons24 {
  width: 24px;
  pointer-events: none;
}

.icons27 {
  width: 27px;
  pointer-events: none;
}

.icons30 {
  width: 30px;
  pointer-events: none;
}

.icons32 {
  width: 32px;
  pointer-events: none;
}

.settingsContainer {
  position: relative;
}
