.videoListing {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
}

.duration {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 2px 5px;
  margin: 0;
  border-radius: 2px;
  right: 4px;
  bottom: 10px;
  font-size: 0.8rem;
}

.createdAt {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 2px 5px;
  margin: 0;
  border-radius: 2px;
  bottom: 10px;
  left: 4px;
  font-size: 0.8rem;
}

.title {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.link {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}
