.videoListing {
  width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.duration {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 2px 5px;
  margin: 0;
  border-radius: 2px;
  right: 4px;
  top: 110px;
  font-size: 0.8rem;
}

.createdAt {
  position: absolute;
  background-color: black;
  opacity: 0.9;
  color: white;
  padding: 2px 5px;
  margin: 0;
  border-radius: 2px;
  top: 110px;
  left: 4px;
  font-size: 0.8rem;
}

.title {
  margin: 0.2rem 0;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.link {
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.revealButton {
  height: 1.5rem;
  z-index: 2;
}

.blurOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
}
