.channel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
}

.channel:hover {
  background-color: #35353e;
}

.channelLink {
  text-decoration: none;
}

.channelTitle {
  color: #c7d1db;
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}

.live {
  width: 6px;
  height: 6px;
  right: 1rem;
  background-color: #ca3521;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.thumbnail {
  border-radius: 100%;
  margin-right: 1rem;
}
