.loading {
  padding: 1.5rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.twitchHeader {
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-weight: 500;
  width: 70px;
}

.youtubeHeader {
  padding: 0.25rem 0 0.5rem 0.5rem;
  font-weight: 500;
  width: 80px;
}

.savedChannelList {
  padding-bottom: 1.1rem;
}

.subheader {
  font-size: 0.85rem;
  padding: 1rem;
}
